/* 
## Colors

### Primary

- Pink: hsl(322, 100%, 66%)
- Light Pink: hsl(321, 100%, 78%)
- Light Red: hsl(0, 100%, 63%)

### Neutral

- Very Dark Cyan: hsl(192, 100%, 9%)
- Very Pale Blue: hsl(207, 100%, 98%) */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 28px 24px;
}

.header-img {
    width: 96px;
    height: 16px;
}

.header-button {
    padding: 6px 18px;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 9.41177px;
    line-height: 13px;
    color: #ff52c1;
    background: #ffffff;
    border: 0.588235px solid #ff52c1;
    box-shadow: 0px 0px 5px rgba(255, 82, 193, 0.218778);
    border-radius: 11.7647px;
    cursor: pointer;
}

.hero-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 90px 40px;
    gap: 24px;
}

.hero-title {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #00252e;
    text-align: center;
}

.hero-subtitle {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #00252e;
    margin-bottom: 24px;
}

.generic-button {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    color: #ffffff;
    background: #ff52c1;
    box-shadow: 0px 3px 7px rgba(0, 37, 46, 0.223053);
    border-radius: 20px;
    cursor: pointer;
    border: none;
    padding: 11px 40px;
}

.generic-button:hover {
    background: #ff8ed7;
}

.hero-img {
    height: 209px;
    margin-top: 80px;
}

.stadicts-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 110px;
}

.stadicts-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.stadicts-title {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 60.9524px;
    line-height: 91px;
    color: #00252e;
}

.stadicts-subtitle {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 15.2381px;
    line-height: 23px;
    text-align: center;
    color: #808e9a;
}

.stadicts-img {
    align-self: flex-start;
    height: 32px;
}

.features-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 200px;
    padding: 200px 0;
}

.feature-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 16px;
    position: relative;
    z-index: 10;
    padding: 0 24px;
}

.feature-content:nth-child(odd) {
    background: #f6fbff;
}

.img-bg-feat-top {
    position: absolute;
    top: -100px;
    max-width: 100vw;
}

.img-bg-feat-bottom {
    position: absolute;
    bottom: -50px;
}

.feature-title {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #00252e;
}

.feature-subtitle {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #00252e;
}

.feature-img {
    height: 186px;
}

.img-bg-feat-bottom-2 {
    position: absolute;
    bottom: -100px;
}

.contact-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
    padding: 140px 15px;
}

.contact-title {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #00252e;
}

footer {
    background: #00252e;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
    padding: 28px;
    position: relative;
}

.footer-top-text {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 16px;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 32px;
}

.footer-top-title {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #ffffff;
}

.footer-top-subtitle {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: #ffffff;
}

.footer-top-input-container {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: column;
    width: 100%;
    gap: 16px;
}

.footer-input {
    background: #ffffff;
    border-radius: 6px;
    padding: 12px;
    outline: none;
    border: none;
    min-height: 48px;
    width: 100%;
}

.footer-button {
    background: #ff52c1;
    border-radius: 5px;
    padding: 12px;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    border: none;
    min-width: 160px;
}

.footer-bottom-top-text {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: #ffffff;
}


.footer-bottom-container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 40px;
}

.footer-bottom-top-container{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 16px;
}

.footer-bottom-middle-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 16px;
}

.footer-contact-info {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 16px;
}

.contact-title {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #ffffff;
}

.social-bottom-container{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 18px;
    width: 100%;
}

.bg-footer{
    position: absolute;
    top: -50px;
}