/* 
## Colors

### Primary

- Pink: hsl(322, 100%, 66%)
- Light Pink: hsl(321, 100%, 78%)
- Light Red: hsl(0, 100%, 63%)

### Neutral

- Very Dark Cyan: hsl(192, 100%, 9%)
- Very Pale Blue: hsl(207, 100%, 98%) */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 28px 24px;
}

.header-img {
    width: 96px;
    height: 16px;
}

.header-button {
    padding: 6px 18px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 9.41177px;
    line-height: 13px;
    color: #FF52C1;
    background: #FFFFFF;
    border: 0.588235px solid #FF52C1;
    box-shadow: 0px 0px 5px rgba(255, 82, 193, 0.218778);
    border-radius: 11.7647px;
    cursor: pointer;
}

.hero-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 90px 40px;
    gap: 24px;
}

.hero-title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #00252E;
    text-align: center;

}

.hero-subtitle {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #00252E;
    margin-bottom: 24px;
}

.generic-button {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    color: #FFFFFF;
    background: #FF52C1;
    box-shadow: 0px 3px 7px rgba(0, 37, 46, 0.223053);
    border-radius: 20px;
    cursor: pointer;
    border: none;
    padding: 11px 40px;
}

.generic-button:hover {
    background: #FF8ED7;
}

.hero-img {
    height: 209px;
    margin-top: 80px;
}